.header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: rgb(212, 203, 203, 0.4);
    align-items: center;
    text-align: center;
}

.options {
    background: rgb(212, 203, 203, 0.4);
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
    background-image: url(../images/gary-lopater-183558-unsplash.jpg);
    background-size: cover;  
}

.dropdown_content1 {
    display: none;
    position: absolute;
    background-color: #5c15c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown1:hover .dropdown_content1 {
    display: block;
}

#my_pacels{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.dropdown1{
    height: 50px;
    background: #6c16ee;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    color: aliceblue;
    border-radius: 50px;
}

#pacels {
    font-size: 60px;
}

.create_pacel:hover .create_pacel_content{
    display: block;
}

.create_pacel_content {
    display: none;
    position: absolute;
    background-color: #5c15c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.create_pacel{
    height: 50px;
    background: #6c16ee;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding-top: 20px;
    color: aliceblue;
    border-radius: 50px;
}

input, button {
    text-decoration: none;
}

.header a{
    text-decoration: none;
    color: #000000;
}

button {
    margin-top: 5px;
    background: none;
    border: none;
    color: #470f9c;
}

.header a:hover {
    color: rgb(209, 43, 43);
}
.header button:hover {
    color: rgb(209, 55, 55);
}

#blue {
    color: blue;
}

#red {
    color: red;
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

#courier {
    color: rgb(71, 236, 71);
}

#comic {
    color: rgb(90, 211, 126);
}

.trust {
    font-family: 'Courier New', Courier, monospace;
}

.logo {
    background: rgb(77, 51, 116, 0.3);
    min-width: 13vw;
    border-radius: 50px;
    /* padding-left: 5vw */
}

.login-form h1 {
    margin-left: 35%;
}

.profile h1{
    font-family: 'Trebuchet MS';
    color: rgb(228, 228, 122);
}


