.header {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background: rgb(212, 203, 203);
}

.options {
    background: rgb(212, 203, 203);
    margin-top: 180px;
}

body{
    background-image: url(../images/gary-lopater-183558-unsplash.jpg);
    background-size: cover;  
}

.dropdown_content1 {
    display: none;
    position: absolute;
    background-color: #5c15c7;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown1:hover .dropdown_content1 {
    display: block;
}

#my_pacels{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown1{
    height: 80px;
    background: #6c16ee;
    width: 200px;
    margin: 20px;
    text-align: center;
    padding-top: 40px;
    color: aliceblue;
}

